@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Fira Sans";
    font-weight: 400;
    font-display: swap;
    src:
      local("Fira Sans"),
      local("Fira Sans Regular"),
      url("~assets/fonts/FiraSans/FiraSans-Regular.woff2") format("woff2"),
      url("~assets/fonts/FiraSans/FiraSans-Regular.woff") format("woff"),
      url("~assets/fonts/FiraSans/FiraSans-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Fira Sans";
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src:
      local("Fira Sans Italic"),
      url("~assets/fonts/FiraSans/FiraSans-Italic.woff2") format("woff2"),
      url("~assets/fonts/FiraSans/FiraSans-Italic.woff") format("woff"),
      url("~assets/fonts/FiraSans/FiraSans-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: "Fira Sans";
    font-weight: 550;
    font-display: swap;
    src:
      local("Fira Sans SemiBold"),
      url("~assets/fonts/FiraSans/FiraSans-SemiBold.woff2") format("woff2"),
      url("~assets/fonts/FiraSans/FiraSans-SemiBold.woff") format("woff"),
      url("~assets/fonts/FiraSans/FiraSans-SemiBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Fira Sans";
    font-weight: 550;
    font-style: italic;
    font-display: swap;
    src:
      local("Fira Sans SemiBold Italic"),
      url("~assets/fonts/FiraSans/FiraSans-SemiBoldItalic.woff2") format("woff2"),
      url("~assets/fonts/FiraSans/FiraSans-SemiBoldItalic.woff") format("woff"),
      url("~assets/fonts/FiraSans/FiraSans-SemiBoldItalic.ttf") format("truetype");
  }

  @font-face {
    font-family: "Fira Sans";
    font-weight: 700;
    font-display: swap;
    src:
      local("Fira Sans Bold"),
      url("~assets/fonts/FiraSans/FiraSans-Bold.woff2") format("woff2"),
      url("~assets/fonts/FiraSans/FiraSans-Bold.woff") format("woff"),
      url("~assets/fonts/FiraSans/FiraSans-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Fira Sans";
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src:
      local("Fira Sans Bold Italic"),
      url("~assets/fonts/FiraSans/FiraSans-BoldItalic.woff2") format("woff2"),
      url("~assets/fonts/FiraSans/FiraSans-BoldItalic.woff") format("woff"),
      url("~assets/fonts/FiraSans/FiraSans-BoldItalic.ttf") format("truetype");
  }

  @font-face {
    font-family: "Fira Code";
    font-weight: 400;
    font-display: swap;
    src:
      local("Fira Code"),
      local("Fira Code Regular"),
      url("~assets/fonts/FiraCode/static/FiraCode-Regular.woff2") format("woff2"),
      url("~assets/fonts/FiraCode/static/FiraCode-Regular.woff") format("woff"),
      url("~assets/fonts/FiraCode/static/FiraCode-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Fira Code";
    font-weight: 700;
    font-display: swap;
    src:
      local("Fira Code Bold"),
      url("~assets/fonts/FiraCode/static/FiraCode-Bold.woff2") format("woff2"),
      url("~assets/fonts/FiraCode/static/FiraCode-Bold.woff") format("woff"),
      url("~assets/fonts/FiraCode/static/FiraCode-Bold.ttf") format("truetype");
  }

  .nuxt-content {
    h1,
    h2,
    h3 {
      margin-block: 1em;
    }

    p {
      margin-block-end: 1em;
    }
  }
}
